<div class="sidebar-button-container" [class.shifted]="drawerOpened">
    <button mat-icon-button class="sidebar-button" (click)="toggleDrawer()">
        <mat-icon>menu</mat-icon>
    </button>
</div>
<mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer class="sideDrawer" #drawer [opened]="drawerOpened" [disableClose]="true">
        <div class="drawer">
            <div class="nabBtns">
                <ul class="btnList">
                    <li>
                        <a [routerLink]="['/pages']" routerLinkActive="active" class="btnListado">
                            <span class="material-symbols-outlined">
                                home
                            </span>&nbsp;
                            Inicio
                        </a>
                    </li>
                    <!-- <li *ngFor="let menu of menus">

                        <a [routerLink]="menu.clave" routerLinkActive="active " class="btnListado"
                            (click)="irA(menu.clave)">
                            <span class="material-symbols-outlined">
                                {{menu.icono}}
                            </span>&nbsp;
                            {{menu.nombre}}
                        </a>
                    </li> -->

                    <li class="logout-container">
                        <button (click)="cerrarSesion()" class="logout">
                            <mat-icon>power_settings_new</mat-icon>
                            <h6 class="cerrar">CERRAR SESIÓN</h6>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </mat-drawer>

    <mat-drawer-content class="content">
        <div id="outler">
            <router-outlet>
            </router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>