<div class="sidebar-button-container" [class.shifted]="drawerOpened">
    <button mat-icon-button class="sidebar-button" (click)="toggleDrawer()">
        <mat-icon>menu</mat-icon>
    </button>
</div>
<mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer class="sideDrawer" #drawer [opened]="drawerOpened" [disableClose]="true">
        <div class="drawer">
            <div class="nabBtns">
                <ul class="btnList">
                    <li *ngFor="let page of pages">

                        <a [routerLink]="page.code" routerLinkActive="active " class="btnListado"
                            (click)="irA(page.code)">
                            <mat-icon>{{page.icon}}</mat-icon>
                            &nbsp;
                            {{page.name}}
                        </a>
                    </li>
                    <li class="logout-container">
                        <button (click)="cerrarSesion()" class="logout">
                            <mat-icon>power_settings_new</mat-icon>
                            <h6 class="cerrar">CERRAR SESIÓN</h6>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </mat-drawer>

    <mat-drawer-content class="content">
        <div id="outler">
            <router-outlet>
            </router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>