// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$seguimiento-empleado-front-primary: mat.define-palette(mat.$indigo-palette);
$seguimiento-empleado-front-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$seguimiento-empleado-front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$seguimiento-empleado-front-theme: mat.define-light-theme((color: (primary: $seguimiento-empleado-front-primary,
                accent: $seguimiento-empleado-front-accent,
                warn: $seguimiento-empleado-front-warn,
            )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($seguimiento-empleado-front-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --blueLightColor: #8ecae6;
    --indigoColor: #219ebc;
    --blueColor: #023047;
    --yellowColor: #ffb703;
    --orangeColor: #fb8500;
}

/*#region bodyCard*/
.flex {
    display: flex;
}

.rowContent {
    display: flex;
    flex-direction: row;
}

.columnContent {
    display: flex;
    flex-direction: column;
}

.jcc {
    justify-content: center;
}

.alignC {
    flex-wrap: wrap;
    align-items: center;
}

.pplBack {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--grayColor) !important;
}

.card {
    background-color: whitesmoke !important;
    box-shadow: 0 0 4px 2px #00000025;
    border-radius: 7px;
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cardContainer {
    flex: 1;
    overflow: auto;
    padding: 15px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all ease .2s;
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    overflow: visible;
    overflow: hidden;
    background-color: var(--blueColor);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        // overflow-wrap: anywhere;
        margin: 0 !important;
        padding: 0 !important;
        transition: all ease .4s;
    }

    * {
        user-select: none !important;

    }

    button {
        // backdrop-filter: blur(12px);
        transition: all ease .2s;
    }

    .title {
        color: white !important;
        display: flex;
        margin: 0 0 0px !important;
        align-items: center;
        justify-content: center;
    }
}

.rowCont {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    grid-row-gap: 10px;
}

.inpCont {
    padding: 10px;
    box-sizing: border-box;
}

.end {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    flex: 1;
}


/*#endregion*/

/*#region modal*/
.modalAngular {
    display: flex !important;
    padding: 0 !important;
    overflow: hidden !important;
    border-radius: 15px !important;
    position: relative !important;
    box-sizing: border-box;
    flex-direction: column;
    box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -7px rgb(0 0 0 / 20%);
    background-color: white;

    .form {
        height: calc(100% - 92px);
        overflow: auto;
    }

    .header {
        font-size: 12px !important;
    }
}

.modalCont {
    padding: 20px;
    box-sizing: border-box;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    overflow: auto;
    transition: all ese .2s;
    padding-bottom: 65px;
    background-color: white;
}

.matClose {
    position: absolute !important;
    right: 10px;
    color: white !important;
}

/*#endregion*/

/*#region tables*/
thead {
    background-color: var(--indigoColor) !important;

    tr {

        background-color: var(--indigoColor) !important;
    }
}


table {
    border: var(--indigoColor) solid 1px !important;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.17) !important;
    max-height: 500px !important;
    overflow: hidden !important;
    border-radius: 7px 7px 0 0 !important;
    background-color: transparent;
    border-bottom: none !important;
    user-select: none;
    background-color: var(--orangeColor) !important;
}

table description:last-child {
    border-right: none !important;
}

mat-month-view {
    table {
        background-color: var(--cardColor) !important;
    }
}

td {
    padding: 6px !important;
    text-align: center !important;
    background-color: transparent !important;
    font-size: 16px;
    border: none !important;
    max-width: 120px;
    word-wrap: break-word;
    border-right: 1px solid var(--blueColor) !important;
}

td:hover {
    border-color: currentColor;
}

table td:last-child {
    border-right: none !important;
}

:host td {
    padding: 2px 5px !important;
    text-align: center !important;
}

th {
    padding: 5px !important;
    color: #ffffff !important;
    border-right: 1px solid white;
    font-size: 19px !important;
    border-bottom: 1px solid white !important;
    text-align: center !important;
    width: 150px !important;
    transition: all ease .2s;
    letter-spacing: .5px !important;
    font-weight: 400 !important;

}

table th:last-child {
    border-right: none !important;
}

.mat-mdc-table .mdc-data-table__header-row {
    height: auto !important;
}

.editRow {
    background-color: rgb(187 227 253) !important;
    // box-shadow: 0 0 4px 3px rgba(28, 31, 33, 0.257);
    position: relative;
    z-index: 1000;
}

.editRow:nth-child(even) {
    position: relative;
    background-color: rgb(187 227 253) !important;
    // box-shadow: 0 0 4px 3px rgba(28, 31, 33, 0.257);
    z-index: 1000;
}

table {
    .removed {
        // background: rgb(74, 25, 36) !important;
        background-color: rgb(74, 25, 36) !important;

        * {
            color: white !important;
        }
    }
}

tr {
    background: #ffffff !important;
    border-bottom: 1px solid #bdbdbd;
    // border: solid 1px var(--blueColor) !important;

}

tr.mat-header-row {
    height: 35px !important;
}


tr.txac:hover {
    background: #efefef !important;
}

tbody tr {
    height: 38px !important;
}

.mat-mdc-paginator-container {
    color: black !important;
    border: var(--indigoColor) solid 1px !important;
    border-top: none !important;
    border-radius: 0 0 7px 7px !important;
    background-color: var(--blueLightColor);
    box-shadow: 0px 8px 9px 2px rgba(0, 0, 0, 0.17) !important;
    overflow: hidden;
}

.mdc-notched-outline>* {
    border: none !important;
}

.tableCont {
    overflow: auto !important;
    padding: 10px;
    box-sizing: border-box;
    flex: 1;
    position: relative;
    white-space: nowrap;
}

.mat-paginator {
    border: var(--blueLightColor) solid 1px !important;
    border-top: none !important;
    border-radius: 0 0 7px 7px !important;
    background-color: #1e3235 !important;
    box-shadow: 0px 5px 9px -3px rgba(0, 0, 0, 0.17) !important;
    overflow: hidden;
}

.mat-mdc-paginator {

    border-radius: 0 0 7px 7px !important;
    background-color: #111e20 !important;
    box-shadow: 0px 5px 9px -3px rgba(0, 0, 0, 0.17) !important;
    overflow: hidden;
}


.tableRow {
    // cursor: pointer;
    transition: all ease .3s;
}

.tableRow:hover {
    filter: brightness(.93);
}

/*#endregion*/

/*#region button*/
button {
    cursor: pointer;
}

.btnClose {
    position: absolute !important;
    right: 5px;
}

.btn,
.btnCanc {
    border: none;
    outline: none;
    color: white;
    width: 120px;
    border-radius: 50px;
    padding: 7px;
    box-sizing: border-box;
    transition: all ease .15s;
    font-weight: 400;
    font-size: 14px;
}

.btn:active,
.btnCanc:active {
    scale: 1 !important;
    filter: brightness(.9) !important;
    box-shadow: none !important;
}

.btn:hover,
.btnCanc:hover,
.btn:focus,
.btnCanc:focus {
    scale: 1.07;
    // filter: brightness(1.01);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.568);
}

.btn:hover {
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.827);
}

.btnCanc {
    background-color: #a6d6d6;
    color: black !important;
    border: 1px solid #dedede !important;
}

.btnAdd {
    border-radius: 20px;
    width: 133px;
    padding: 3px;
    height: 35px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btnEdit {
    color: white;
    border-radius: 4px;
    width: 40px;
    padding: 8px 5px;
    box-sizing: border-box;

    mat-icon {
        font-size: 18px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
    }

}

.btnYellow {
    background-color: var(--yellowColor);
}

.btnOrange {
    background-color: var(--orangeColor) !important;
}

.btnRed:disabled {
    background-color: rgb(81, 62, 67) !important;
}

// .btn:disabled {
//     background-color: #384941;
//     pointer-events: none;
// }

// .btnGreen:disabled {
//     background-color: #596c5f;
//     pointer-events: none;
// }

.buttonPanel {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    left: 0;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 2px 1px 11px 1px rgba(0, 0, 0, 0.605);
    z-index: 123;
}

.btnTable {
    border: none !important;
    outline: none;
    border-radius: 9px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.158);
    color: white !important;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all ease .2s;
    padding: 5px;
    box-sizing: border-box;
}

.btnTable:hover {
    scale: 1.1;
    filter: brightness(1.5);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.568);
}

.btnTable:active {
    scale: 1;
    filter: brightness(.7);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.568);
}

.input,
.inputTable {
    padding: 11px;
    box-sizing: border-box;
    background-color: #0000000a !important;
    color: black(255, 255, 255);
    border: none;
    outline: none;

    border: 2px solid transparent;
    border-radius: 7px;
    transition: all ease .1s;
    width: 100%;
    font-size: 16px !important;
}

// .btnAddModal,
// .btnDeleteModal {
//     background-color: var(--greenColor);
//     width: 30px;
//     height: 30px;
//     border-radius: 5px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-left: 10px;

//     mat-icon {
//         width: 25px;
//         height: 25px;
//         font-size: 25px;
//         padding: none;
//         margin: none;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
// }

// .btnDeleteModal {
//     background-color: var(--redColor);
// }

/*#endregion*/

/*#region width Medidas*/
.wdt100 {
    width: 100%;
}

.wdt70 {
    width: 70%;
}

.wdt65 {
    width: 65%;
}

.wdt60 {
    width: 60%;
}

.wdt55 {
    width: 55%;
}

.wdt50 {
    width: 50%;
}

.wdt45 {
    width: 45%;
}

.wdt40 {
    width: 40%;
}

.wdt35 {
    width: 35%;
}

.wdt33 {
    width: 33%;
}

.wdt30 {
    width: 30%;
}

.wdt25 {
    width: 25%;
}

.wdt20 {
    width: 20%;
}

.hdt100 {
    height: 100%;
}

.hdt80 {
    height: 80%;
}

.hdt75 {
    height: 75%;
}

.hdt50 {
    height: 50%;
}

.hdt25 {
    height: 25%;
}

.hdt20 {
    height: 20%;
}

/*#endregion*/

/*#region inputs*/
// mat-form-field {
//     width: 100%;
//     position: relative;
// }

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #f5f5f500 !important;
}

.mdc-text-field--filled {
    --mdc-filled-text-field-active-indicator-height: 0px !important;
    --mdc-filled-text-field-focus-active-indicator-height: 0px !important;
    --mdc-filled-text-field-container-shape: 0px !important;
}

// .mat-mdc-form-field-infix {}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #0000000a !important;
    border: 0.5px solid var(--blueColor) !important;
    // border-bottom: 0.5px solid var(--blueColor) !important;
    // border-left: 0.5px solid var(--blueColor) !important;
    // border-right: 0.5px solid var(--blueColor) !important;
    // border-right: 0.5px solid var(--blueColor) !important;
    border-radius: 10px;
}

.mat-mdc-form-field-focus-overlay {
    background-color: transparent !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
    color: var(--blueColor) !important;
}

// .invalid-label {
//     color: red;
// }

.mat-form-field-invalid .mat-mdc-form-field-required-marker {
    color: red !important;
}

.mat-form-field-invalid .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label,
.mat-form-field-invalid .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
    color: red !important;
}

.inpError {
    border: 2px solid #e62c64 !important;
    transition: all ease .2s;
    border-radius: 7px;
}

.input.inpError::placeholder {
    color: #e55480 !important;
    font-weight: 600;
}

/*#endregion*/